@import '../styles/libs/_normalize.scss';

:root {
  --duration: 0.15s;
  --active-color: #646cff;
  --danger-color: #ae0101;

  --rounded: 0.5rem;

  --container-width: 90%;
  --opacity-active: 0.7;
}

/* TODO цветовую палитру для светлой темы */

html[data-theme='light'] {
  --background-color: #ededed;
  --background-content-color: #fff;
  --background-interactive-color: #adadad;
  --background-active-color: var(--active-color);

  --background-skeleton-in-color: var(--background-content-color);
--background-skeleton-out-color: #404040;

  --font-color: #242424;
  --font-active-color: var(--active-color);
  --font-interactive-color: #242424;
}

html[data-theme='dark'] {
  --background-color: #242424;
  --background-content-color: #303030;
  --background-interactive-color: #fff;
  --background-active-color: var(--active-color);

  --background-skeleton-in-color: var(--background-content-color);
  --background-skeleton-out-color: #404040;

  --font-color: #fff;
  --font-active-color: var(--active-color);
  --font-interactive-color: #242424;
}
