.wrapper {
  display: flex;
  gap: 5vw;
  justify-content: space-between;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--font-color);

    &:hover {
      opacity: var(--opacity-active);
    }
  }

  .search {
    width: 70%;
  }
}
