// $background: #ffdf8c;
// $gray-line: #f6f6f6;
// $orange: #fe5f1e;

// $container-width: 90%;

// $duration: 0.15s;

$active: #646cff;

$background: #242424;
$background-content: #303030;
$background-interactive: #fff;
$background-active: #646cff;

$font-color: #fff;
$font-interactive: #242424;
$font-active: #646cff;

$opacity-active: 0.7;
