.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;

  li {
    flex: 1;
    background: var(--background-interactive-color);
    border-radius: 5px;

    &:hover {
      opacity: var(--opacity-active);
    }

    &.active {
      background-color: var(--background-active-color);
    }

    button {
      cursor: pointer;
      background: initial;
      padding: 5px;
      width: 100%;
      border: none;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
