@import '@/assets/styles/mixins/btn.mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  button {
    @include activity-btn;
    max-width: 200px;
    padding: 10px;

    @media (max-width: 730px) {
      width: fit-content;
      padding: 5px;
    }
  }
}

.list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-content-color);
  border-radius: var(--rounded);
  padding: 10px;

  .header {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    .info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 1rem;
      font-weight: bold;

      @media (max-width: 730px) {
        font-size: 0.8rem;
      }

      .desc {
        opacity: 0.75;
        font-weight: 400;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 40px;
      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        rotate: 270deg;
      }

      &.active {
        button {
          rotate: 90deg;
        }
      }
    }
  }

  .content {
    display: none;

    &.visible {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .products {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;

        img {
          justify-self: start;
          width: 150px;
          height: 150px;
          background-color: white;
          object-fit: cover;
          object-position: center;
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      span {
        font-size: 1.2rem;
        font-weight: bold;
      }

      div {
        display: flex;
        gap: 5px;
        button {
          @include main-btn;
          width: fit-content;
          padding: 10px;
        }
        .cancel {
          @include activity-btn;
          padding: 10px;
        }
      }
      @media (max-width: 730px) {
        span {
          font-size: 1rem;
        }
      }
    }

    @media (max-width: 730px) {
      h2 {
        font-size: 1rem;
      }
    }
  }
}

.emptyMessage {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
