.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;

  i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--font-color);
  }

  .icon {
    border: none;
    background-color: inherit;

    i {
      color: var(--font-color);
    }

    &:hover {
      opacity: var(--opacity-active);
    }
  }
}

.cart {
  position: relative;

  span {
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--background-active-color);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
  }

  &:hover {
    opacity: var(--opacity-active);
  }
}
