@import '@/assets/styles/mixins/btn.mixins.scss';

.wrapper {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;

  i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--font-color);
  }

  .icon {
    border: none;
    background-color: inherit;

    i {
      color: var(--font-color);
    }

    &:hover {
      opacity: var(--opacity-active);
    }
  }

  .cart {
    position: relative;

    span {
      font-weight: bold;
      position: absolute;
      top: -10px;
      right: -10px;
      background: var(--background-active-color);
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 50%;
    }

    &:hover {
      opacity: var(--opacity-active);
    }
  }

  .auth {
    height: 100%;
    display: flex;
    gap: 5px;

    a button {
      @include main-btn;
    }
  }

  .mobile {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media (max-width: 730px) {
      display: none;
    }
  }

  .trigger {
    display: none;
    border: none;
    background: initial;
    color: var(--font-color);

    @media (max-width: 730px) {
      display: block;
    }
  }
}

.mobileMenu {
  display: none;

  @media (max-width: 730px) {
    display: flex;
  }

  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: var(--rounded);
  width: 200px;
  top: 50px;
  right: 0;
  padding: 10px;
  background-color: var(--background-content-color);
  z-index: 10;
  gap: 5px;

  a {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    width: 100%;

    &:hover span,
    &:hover i,
    &:focus span,
    &:focus i {
      color: var(--active-color);
    }
  }

  .cart {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    width: 100%;

    span {
      top: -10px;
      left: 25px;
    }
  }
}
