@import '../../assets/sass/variables.scss';

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
}

.errorWrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    width: 300px;
  }

  h2 {
    text-align: center;
  }

  button {
    cursor: pointer;
    background-color: $background-active;
    border: none;
    padding: 10px 20px;

    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: $font-color;
    border-radius: 10px;

    &:hover {
      opacity: $opacity-active;
    }
  }
}
