@import '@/assets/styles/mixins/btn.mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: var(--font-color);

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: var(--font-color);
        stroke-width: 1.9;
      }
    }
  }

  .clearBtn {
    color: var(--font-color);

    @media (max-width: 730px) {
      span {
        display: none;
      }
    }

    button {
      @include interactive-btn;
      display: flex;
      gap: 5px;
      padding: 15px;

      i {
        color: var(--font-active-color);
      }

      &:hover,
      &:active {
        opacity: var(--opacity-active);
      }
    }
    span {
      color: var(--font-color);
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: 730px) {
      .details {
        flex-direction: column;
      }
    }

    .details {
      display: flex;
      justify-content: space-between;

      span {
        color: var(--font-color);

        font-size: 1.5rem;

        b {
          color: var(--font-color);
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      .button {
        @include main-btn;
        width: fit-content;
        min-width: 150px;
        padding: 20px;
      }

      .goBackBtn {
        @include interactive-btn;
        width: fit-content;
        padding: 15px;

        span {
          color: var(--font-color);
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .payBtn {
        @include activity-btn;
        max-width: 150px;
        padding: 15px;
        text-align: center;
      }
    }
  }
}
