@import '@/assets/styles/mixins/input.mixins.scss';
@import '@/assets/styles/mixins/btn.mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .emptyMessage {
    font-size: 1.2rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--background-content-color);
  padding: 10px;
  border-radius: var(--rounded);
  i {
    color: var(--active-color);
  }
  div {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      font-weight: bold;
      gap: 5px;

      span {
        color: var(--danger-color);
      }
    }
    .markInput {
      @include main-input;
      max-width: 80px;
    }
    .textInput {
      @include main-input;
      resize: none;
      height: 80px;
    }
    button {
      @include activity-btn;
      max-width: 180px;
      padding: 10px;
    }
  }
}
