@import '@/assets/styles/mixins/btn.mixins.scss';

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.item {
  min-width: 4rem;
  border-radius: 7px;
  background-color: var(--background-interactive-color);
  color: var(--font-interactive-color);

  button {
    @include main-btn;
  }

  &.active {
    background-color: var(--background-active-color);
    color: var(--font-active-color);
  }

  &:hover {
    opacity: var(--opacity-active);
  }
}
