@import '@/assets/styles/mixins/btn.mixins.scss';

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.item {
  min-width: 4rem;

  button {
    @include main-btn;
  }
}
