@import '@/assets/styles/mixins/btn.mixins.scss';

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px 11px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    .heart {
      display: none;
      cursor: pointer;
      border: none;
      background-color: inherit;
      z-index: 5;
      position: absolute;
      color: var(--active-color);
      top: 10px;
      right: 10px;
      font-size: 2rem;

      &:disabled {
        color: var(--background-skeleton-out-color);
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 350px;
    }

    h3 {
      font-size: 1.5rem;
      text-align: center;
    }

    &:hover {
      .heart {
        display: block;
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-weight: bold;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      color: var(--font-color);
      font-weight: bold;
      margin: auto 0;
    }

    button {
      @include activity-btn;
      position: relative;

      max-width: 200px;
      padding: 10px;

      &:hover {
        opacity: var(--opacity-active);
      }

      span {
        position: absolute;
        top: -5px;
        right: -5px;
        display: inline-block;
        background: var(--background-content-color);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding: 5px 10px;
      }
    }
  }
}

.emptyMessage {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
