.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px 11px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }

  .choices {
    display: flex;
    flex-direction: row;
    gap: 5px;
    // background: $background-content;

    li {
      flex: 1;
      background: var(--background-interactive-color);
      border-radius: 5px;

      &:hover {
        opacity: var(--opacity-active);
      }

      &.active {
        background-color: var(--background-active-color);
      }

      button {
        cursor: pointer;
        background: initial;
        padding: 5px;
        width: 100%;
        border: none;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      color: var(--font-color);
      font-weight: bold;
      margin: auto 0;
    }

    button {
      position: relative;
      min-height: 55px;
      min-width: 130px;
      cursor: pointer;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 7px;
      padding: 10px;
      background: var(--background-active-color);

      &:hover {
        opacity: var(--opacity-active);
      }

      span {
        position: absolute;
        top: 0;
        display: inline-block;
        background: var(--background-content-color);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding: 5px 10px;
      }
    }
  }
}
