@import '@/assets/styles/mixins/btn.mixins.scss';
@import '@/assets/styles/mixins/input.mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    color: var(--danger-color);
    font-size: 1.2rem;
    text-align: center;
  }

  label {
    cursor: pointer;
    color: var(--font-color);
    font-size: 1.2rem;

    input {
      @include main-input;
      width: 100%;
      background-color: var(--background-color);
    }

    span {
      font-size: 1rem;
    }
  }

  button {
    @include activity-btn;
    padding: 10px;
    font-size: 1.2rem;
  }
}
