.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;

  @media (max-width: 730px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    .price {
      order: 2;
    }
  }

  .header {
    display: flex;
    gap: 10px;
    min-width: 250px;
    justify-self: start;
  }

  .circleButton {
    cursor: pointer;
    border: none;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    background: var(--background-active-color);

    &:disabled {
      background-color: var(--background-content-color);
      color: var(--font-color);
    }

    &:hover {
      opacity: var(--opacity-active);
    }
  }

  .img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    h3 {
      color: var(--font-color);

      font-weight: bold;
      font-size: 1.5rem;
    }

    p {
      color: var(--font-color);

      font-size: 1.2rem;
      opacity: 0.8;
    }
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    b {
      color: var(--font-color);

      font-size: 1.2rem;
    }
  }

  .price {
    color: var(--font-color);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.01em;
  }

  .button {
    svg {
      width: 11.5px;
      height: 11.5px;
      position: relative;
    }
    &:hover,
    &:active {
      opacity: var(--opacity-active);
    }
  }
}
