.cart {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: var(--font-color);

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: var(--font-color);
        stroke-width: 1.9;
      }
    }
  }

  .clearBtn {
    color: var(--font-color);

    button {
      background: var(--background-content-color);
      padding: 12px 20px;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      color: var(--font-color);
      font-size: 1.2rem;

      i {
        padding-right: 10px;
        color: var(--font-active-color);
      }

      &:hover,
      &:active {
        opacity: var(--opacity-active);
      }
    }
    span {
      color: var(--font-color);
    }
  }

  .list {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    gap: 10px;
  }

  .item {
    display: flex;
    gap: 20px;

    .circleButton {
      cursor: pointer;
      border: none;
      width: 2rem;
      line-height: 2rem;
      border-radius: 50%;
      text-align: center;
      font-size: 1rem;
      background: var(--background-active-color);

      &:disabled {
        background-color: var(--background-content-color);
        color: var(--font-color);
      }

      &:hover {
        opacity: var(--opacity-active);
      }
    }

    .img {
      width: 10%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        color: var(--font-color);

        font-weight: bold;
        font-size: 1.5rem;
      }

      p {
        color: var(--font-color);

        font-size: 1.2rem;
        opacity: 0.8;
      }
    }

    .count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      b {
        color: var(--font-color);

        font-size: 1.2rem;
      }
    }

    .price {
      color: var(--font-color);

      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: 0.01em;
    }

    .remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          opacity: var(--opacity-active);
        }
      }
    }
  }

  .bottom {
    .details {
      display: flex;
      justify-content: space-between;

      span {
        color: var(--font-color);

        font-size: 1.5rem;

        b {
          color: var(--font-color);
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .button {
        width: 210px;
        padding: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        span {
          color: var(--font-color);
          font-weight: 600;
        }
      }

      .goBackBtn {
        background: var(--background-content-color);

        span {
          color: var(--font-color);
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }

        &:hover,
        &:active {
          opacity: var(--opacity-active);
        }
      }

      .payBtn {
        background: var(--background-active-color);

        &:hover,
        &:active {
          opacity: var(--opacity-active);
        }
      }
    }
  }
}
