@import '../../sass/variables.scss';

.wrapper {
  flex: 1;
  cursor: pointer;
  background-color: $background-content;
  color: $font-color;
  border: none;
  border: 2px solid $background-content;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1rem;

  &:hover {
    border: 2px solid $font-color;
  }

  &:placeholder {
    color: $font-color;
    opacity: 0.8;
  }

  &:focus {
    border: 2px solid $active;
  }
}
