@import '../../sass/variables.scss';

.wrapper {
  display: flex;
  gap: 5vw;
  justify-content: space-between;

  .logo {
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      opacity: $opacity-active;
    }
  }

  .search {
    width: 70%;
  }
}
